/* GERAL */
html {
    font-size: calc(15px + 0.390625vw);
}
body {
    color: black;
    font-family: 'Comfortaa', sans-serif;
    margin: 10px;
}
a {
    color: #000000;
    text-decoration: none;
}

p {
    line-height: 130%;
    color: gray;

}
section h1 {
    color: #000000;
    text-align: center;
    font-weight: bold;
}
section h2{
    color: #000000;
    text-align: center;
}
img {
    max-width: 100%; 
}

/* ESPECIFICO*/
header ul li {
    text-align: center;
    padding: 10px 0 10px 0;
}
section.header {
    text-align: center;
    padding: 10px 20px 70px 20px;
}
section.header button  {
    background-color: #0E8388;
    border: none;
    color: white;
    border-radius: 20px; 
}
section.header p{
    margin: 10px 10px;
}

.sign {
    background-color: #0E8388;
    color: white;
    border-radius: 20px;
    padding: 3px 10px;
}
section.products img{
    max-width: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section.products {
    text-align: center;
}
section.products{
     list-style: flex; 
     align-items: center;
}
section.rodape{
    margin: 10px 0 50px;
    padding: 10px 10px;
}
section.products{
    background-color: #CBE4DE; /* Cor de fundo */
    color: #888888; /* Cor do texto */
    text-align: center; /* Centralizar o texto */
    padding: 20px; /* Espaçamento interno */
    bottom: 0;
    
}
section.products ul li{
    background: white;
    margin: 10px;
}
section.texto{
    margin-right: 5vw;
}
section.texto {
    margin-right: 5vw;
}
footer {
    background-color: #CBE4DE; /* Cor de fundo */
    color: white; /* Cor do texto */
    text-align: center; /* Centralizar o texto */
    padding: 20px; /* Espaçamento interno */
    bottom: 0;
 }
  section.products {
    padding: center;
  }

@media (min-width: 900px) {
    header nav {
        display: flex;
        justify-content: space-between;
        padding: 5vw;
    }
    header nav ul {
        display: flex;
    }
    header nav ul li {
        margin: 0 10px 0 10px;
    }
    section.products ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    section.products ul li {
        width: 30%;
    }
    section.build > div{
        display: flex;
    }
    footer {
        display: flex;
        justify-content: space-between;
    }
    footer ul {
        display: flex;
    }
}
