/*===================================================
     GERAL
=====================================================
*/
html {
    font-size: calc(15px + 0.390625vw);
}

body {
    /* background: red;  */
    color: #21243D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a {
    color: #21243D;
    text-decoration: none;
}

p{
    line-height: 130%;
}
/* ==================================================
     ESPECIFICO
   ==================================================
*/

header ul li {
    text-align: center;
    padding: 10px 0 10px 0;      /* superior, direita, inferior, esquerda */
}

section.banner {
    text-align: center;
    padding: 0 5% 0 5%;
}

section.banner h1{
    font-weight: bold;
    font-size: 2rem;
    margin: 10px 0 10px 0;
}

section.banner p button{
    background-color: #ff6464;
    border: none;
    color: #FFFFFF;
    display: inline-block;
    margin: 10px 0 50px;
    padding: 5px 10px;
    font-size: 1.2rem;
}

section.posts {
    background-color: #EDF7FA;
    padding: 10px;
}

section.posts h2 {
    text-align: center;
    margin: 15px;
}

section.posts ul li {
    background-color: #FFFFFF;
    padding: 15px;
    margin: 12px 10px 12px 10px;
}

section.posts ul li h3 {
    font-weight: bold;
    font-size: 1.2rem;
}

section.posts ul li p {
    margin: 10px;
}

