
a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ==== TOPO ==== */

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vw 8vw;
}
header nav ul {
    display: flex;
}
header nav ul li {
    margin: 0 0 0 20px;
}
header nav ul li a {
    color: gray;
}
header nav ul li a.atual{
    color: black;
}


/* ==== BANNER ==== */


section.banner {
    display: flex;
    margin: 0 10vw;
}
section.banner img{
    margin: 0 2vw 0 0;
}
section.banner h2 {
    color: black;
    font-size: 2.2rem;
    margin: 8vw 5.2vw 2.5vw 0;
    font-weight: bold;
}
section.banner h2 span{
    color: #458FF6;
}
section.banner p{
    color: gray;
    margin: 0 10vw 0 0;
}
section.banner p button{
    color: white;
    background: #458FF6;
    border-radius: 20px;
    border: none;
    padding: 10px 40px 10px 40px;
    margin: 2.5vw 0 0 0;
    font-size: 1rem;
}

/* ==== CUIDADOS ==== */

section.cuidados {
    margin: 3vw 10vw 3vw 10vw;
    text-align: center;
}
section.cuidados h2 {
    font-size: 2rem;
    color: black;
    font-weight: bold;
    border-bottom: 2px solid black;
    display: inline-block;
    padding: 8vw 0 2vw 0;
}
section.cuidados > p{
    color: gray;
    margin: 2vw 16% 4vw 16%;
}
section.cuidados ul {
    display: flex;
    text-align: left;
}
section.cuidados ul li{
    border: 1px solid gainsboro;
    border-radius: 20px;
    padding: 20px;
    margin: 0 4vw 0 0;
}
section.cuidados ul li:last-child{
    margin: 0;
}
section.cuidados ul li h3 {
    margin: 2vw 0 1vw 0;
    font-weight: bold;
    font-size: 1.1rem;
}
section.cuidados ul li p{
    color: gray;
    line-height: 1.5rem;
    margin: 0 7vw 0 0;
}
section.cuidados button {
    color: #458FF6;
    background: white;
    border: 2px solid #458FF6;
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
}

/* ==== DEPOIMENTOS ==== */
section.depoimentos{
    text-align: center;
    background-color: #5A98F2;
    margin: 5vw 12vw 10vw 12vw;
    border-radius: 40px;
    padding: 70px;
}
section.depoimentos h2{
    font-weight: bold;
    font-size: 2rem;
    color: white;
    border-bottom: 1px solid white;
    padding: 0 0 1vw 0;
    display: inline-block;
}
section.depoimentos div {
    display: flex;
    justify-content: center;
}
section.depoimentos div p{
    text-align: left;
    width: 34%;
    color: white;
    margin: 5vw 0 0 5vw;
    line-height: 1.5rem;
}
section.depoimentos div img{
    margin: 4vw 0 0 0;
}

/* ==== FOOTER ==== */

footer {
    background-color: #5A98F2;
    color: white;
    margin: 5vw 0 0 0;
    padding: 60px 10vw 60px 10vw;
    border: none;
    display: flex;
    justify-content: space-between;
}
footer div p:first-child{
    margin: 5vw 0 4vw 0;
    width: 58%;
}
footer div p:last-child{
    margin: 0 0 5vw 0;
}
footer h4 {
    font-weight: bold;
    font-size: 1.1rem;
    font-size: 0,;
    margin: 4vw 0 2vw 0;
}
footer a{
    color: white;
}
footer ul li{
    margin: 15px 0 15px 0;
}